{% extends "base.html" %}
{% block content %}
<h1>Yhteenveto</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<p>Ota tästä talteen tilauksesi tiedot.</p>

    <div>
        <label>Nimi</label>: {{attributes.customer}}
    </div>
    <div>
        <label>Puhelinnumero</label>: {{attributes.phone}}
    </div>
    <div>
        <label>Osoite</label>: {{attributes.address}}
    </div>
    <div >
        <label>Tuotteet </label>
        <ul>
            {% for tuote in tilatut %}
            <li>{{tuote.pname}}, {{tuote.price}} cent</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <label>Kokonaishinta</label>: {{attributes.price}} cent
    </div>
{% endblock %}