{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotetta Pepperoni</h1>

  <form>
     <div class="form-group">
      <label>Numero</label>
      <input class="form-control" value="1" type="text">
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Pepperoni" type="text">
    </div>
    <div class="form-group">
      <label>Hinta</label>
      <input class="form-control" value="7" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <input class="form-control" value="Pizza pepperoni" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}