{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi tuote</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/tuote">
    <div class="form-group">
        <label>Numero</label>
        <input class="form-control" type="text" name="pnumber" value="{{attributes.pnumber}}">
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" type="text" name="pname" value="{{attributes.pname}}">
    </div>
    <div class="form-group">
        <label>Hinta (sentteinä)</label>
        <input class="form-control" type="text" name="price" value="{{attributes.price}}">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <input class="form-control" type="text" name="description" value="{{attributes.description}}">
    </div>
    <div class="form-group">
        <label>Tyyppi</label>
        <select class="form-control" name="ptype" >
            <option>Pizza</option> 
            <option>Juoma</option>
            <option>Muu</option>
        </select>
    </div>
    <div class="form-group">
        <input type="hidden" name="taytteet[]" value="0">
    </div>
    <div class="form-group">
        <label>Taytteet (paina ctrl pohjaan)</label>
        <select class="form-control" name="taytteet[]" multiple="">
            {% for tayte in taytteet %}
            <option value="{{tayte.id}}">{{tayte.pname}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää tuote</button>
    </div>
</form>
{% endblock %}