{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{tuote.pname}}</h1>

{% if user_logged_in %}
<p>
    {{forms.destroy_button("#{base_path}/tuote/#{tuote.id}/poista")}}
    <a href="{{tuote.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
</p>
{% endif %}

<ul>
    <li><strong>Numero</strong> {{tuote.pnumber}}</li>
    <li><strong>Hinta</strong> {{tuote.price}} cent</li>
    <li><strong>Kuvaus</strong> {{tuote.description}}</li>
    <li><strong>Tyyppi</strong> {{tuote.ptype}}</li>
    {% if tuote.ptype == "Pizza" %}
    <li><strong>Taytteet:</strong>
    {% endif %}
        <ul>
            {% for tayte in taytteet %}
            <li>
                <a href="/pizza/tayte/{{tayte.id}}" >{{tayte.pname}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>

{% endblock %}