{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
    {{message}}
</div>

<h1>{{tuote.pname}}</h1>
<p>
    <button class="btn btn-danger">Poista</button> <a href="{{tuote.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Numero</strong> {{tuote.pnumber}}</li>
    <li><strong>Hinta</strong> {{tuote.price}}</li>
    <li><strong>Kuvaus</strong> {{tuote.description}}</li>
    <li><strong>Tyyppi</strong> {{tuote.ptype}}</li>
</ul>
{% endblock %}